In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date

In [2]:
pd.set_option('display.max_columns', None)
data = pd.read_csv('Terry_stops.csv')
data.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,Subject Perceived Race,Subject Perceived Gender,Reported Date,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,Asian,Male,2015-10-16T00:00:00,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,-,-,2015-03-19T00:00:00,07:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,White,Male,2015-03-21T00:00:00,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,-,-,2015-04-01T00:00:00,04:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,Black or African American,Male,2015-04-03T00:00:00,00:41:00,-,-,-,NaN,N,N,-,-,-

## Initial Inspection of Data

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48525 entries, 0 to 48524
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subject Age Group         48525 non-null  object
 1   Subject ID                48525 non-null  int64
 2   GO / SC Num               48525 non-null  int64
 3   Terry Stop ID             48525 non-null  int64
 4   Stop Resolution           48525 non-null  object
 5   Weapon Type               48525 non-null  object
 6   Officer ID                48525 non-null  object
 7   Officer YOB               48525 non-null  int64
 8   Officer Gender            48525 non-null  object
 9   Officer Race              48525 non-null  object
 10  Subject Perceived Race    48525 non-null  object
 11  Subject Perceived Gender  48525 non-null  object
 12  Reported Date             48525 non-null  object
 13  Reported Time             48525 non-null  object
 14  Initial Call Type         48525 non-null  object
 15  Final Call Type           48525 non-null  object
 16  Call Type                 48525 non-null  object
 17  Officer Squad             47919 non-null  object
 18  Arrest Flag               48525 non-null  object
 19  Frisk Flag                48525 non-null  object
 20  Precinct                  48525 non-null  object
 21  Sector                    48525 non-null  object
 22  Beat                      48525 non-null  object
dtypes: int64(4), object(19)
memory usage: 8.5+ MB

In [4]:
# removing unnecessary columns from dataframe
df = data.drop(columns=['Subject ID', 'GO / SC Num', 'Terry Stop ID', 'Reported Time'], axis=1)

In [5]:
# Inspection of Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48525 entries, 0 to 48524
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subject Age Group         48525 non-null  object
 1   Stop Resolution           48525 non-null  object
 2   Weapon Type               48525 non-null  object
 3   Officer ID                48525 non-null  object
 4   Officer YOB               48525 non-null  int64
 5   Officer Gender            48525 non-null  object
 6   Officer Race              48525 non-null  object
 7   Subject Perceived Race    48525 non-null  object
 8   Subject Perceived Gender  48525 non-null  object
 9   Reported Date             48525 non-null  object
 10  Initial Call Type         48525 non-null  object
 11  Final Call Type           48525 non-null  object
 12  Call Type                 48525 non-null  object
 13  Officer Squad             47919 non-null  object
 14  Arrest Flag               48525 non-null  object
 15  Frisk Flag                48525 non-null  object
 16  Precinct                  48525 non-null  object
 17  Sector                    48525 non-null  object
 18  Beat                      48525 non-null  object
dtypes: int64(1), object(18)
memory usage: 7.0+ MB

In [6]:
df.describe()

        Officer YOB
count  48525.000000
mean    1983.091355
std        9.083316
min     1900.000000
25%     1978.000000
50%     1985.000000
75%     1990.000000
max     1998.000000

In [7]:
#reformat col names 
df.rename(columns={'Subject Age Group':'subject_age_group', 'Stop Resolution':'stop_resolution', 'Weapon Type':'weapon_type', 'Officer ID':'officer_id',
       'Officer YOB':'officer_yob', 'Officer Gender':'officer_gender', 'Officer Race':'officer_race',
       'Subject Perceived Race':'subject_perceived_race', 'Subject Perceived Gender':'subject_perceived_gender', 'Reported Date':'reported_date',
       'Initial Call Type':'initial_call_type', 'Final Call Type':'final_call_type', 'Call Type':'call_type', 'Officer Squad': 'officer_squad',
       'Arrest Flag':'arrest_flag', 'Frisk Flag':'frisk_flag', 'Precinct':'precinct', 'Sector':'sector', 'Beat':'beat'}, inplace=True)

In [8]:
# Inspecting value counts for each column
for col in df.columns:
    try:
        print(df[col].value_counts())
    except:
        print(df[col].value_counts())   
    print('\n')

26 - 35         16171
36 - 45         10345
18 - 25          9676
46 - 55          6276
56 and Above     2469
1 - 17           1991
-                1597
Name: subject_age_group, dtype: int64


Field Contact               19716
Offense Report              15860
Arrest                      12041
Referred for Prosecution      728
Citation / Infraction         180
Name: stop_resolution, dtype: int64


None                                    32565
-                                       13060
Lethal Cutting Instrument                1482
Knife/Cutting/Stabbing Instrument         707
Handgun                                   300
Firearm Other                             100
Blunt Object/Striking Implement            93
Club, Blackjack, Brass Knuckles            49
Firearm                                    44
Mace/Pepper Spray                          31
Other Firearm                              27
Firearm (unk type)                         15
Taser/Stun Gun                             10
Club                                        9
None/Not Applicable                         9
Fire/Incendiary Device                      8
Rifle                                       7
Shotgun                                     3
Personal Weapons (hands, feet, etc.)        2
Automatic Handgun                           2
Brass Knuckles                              1
Blackjack                                   1
Name: weapon_type, dtype: int64


7456      430
7634      347
7773      333
7765      315
7758      313
         ...
6993        1
5014        1
5445        1
6421        1
8761        1
Name: officer_id, Length: 1225, dtype: int64


1986    3383
1987    3089
1984    2802
1991    2742
1992    2559
1985    2513
1990    2346
1988    2189
1989    2052
1982    1868
1983    1743
1979    1558
1993    1518
1981    1477
1995    1310
1971    1236
1978    1177
1976    1052
1977    1031
1994     964
1973     933
1980     840
1996     731
1967     721
1968     632
1970     612
1969     568
1974     566
1975     540
1997     486
1962     457
1964     439
1972     429
1965     420
1963     262
1966     228
1958     220
1961     215
1959     174
1960     161
1998      60
1954      44
1957      43
1900      35
1953      34
1955      21
1956      17
1948      11
1952       9
1949       5
1946       2
1951       1
Name: officer_yob, dtype: int64


M    42973
F     5523
N       29
Name: officer_gender, dtype: int64


White                            36522
Hispanic or Latino                2827
Two or More Races                 2791
Asian                             2120
Black or African American         1935
Not Specified                     1513
Nat Hawaiian/Oth Pac Islander      461
American Indian/Alaska Native      321
Unknown                             35
Name: officer_race, dtype: int64


White                                        23716
Black or African American                    14465
Unknown                                       2793
-                                             1851
Hispanic                                      1684
Asian                                         1594
American Indian or Alaska Native              1392
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       69
Name: subject_perceived_race, dtype: int64


Male                                                         38119
Female                                                        9801
Unable to Determine                                            326
-                                                              235
Unknown                                                         37
Gender Diverse (gender non-conforming and/or transgender)        7
Name: subject_perceived_gender, dtype: int64


2015-10-01T00:00:00    101
2015-09-29T00:00:00     66
2015-05-28T00:00:00     57
2015-07-18T00:00:00     55
2019-04-26T00:00:00     54
                      ...
2015-05-13T00:00:00      1
2015-03-28T00:00:00      1
2015-04-28T00:00:00      1
2015-03-24T00:00:00      1
2015-04-14T00:00:00      1
Name: reported_date, Length: 2333, dtype: int64


-                                                 13234
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW         3234
SUSPICIOUS PERSON, VEHICLE OR INCIDENT             3098
DISTURBANCE, MISCELLANEOUS/OTHER                   2506
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)     2108
                                                  ...
PHONE - OBSCENE OR NUISANCE PHONE CALLS               1
ESCAPE - PRISONER                                     1
MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)            1
MISSING - ADULT                                       1
DEMONSTRATIONS                                        1
Name: initial_call_type, Length: 168, dtype: int64


-                                           13234
--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON     3920
--PROWLER - TRESPASS                         3406
--DISTURBANCE - OTHER                        2802
--ASSAULTS, OTHER                            2386
                                            ...
--DEMO MGMNT (CONTROL TACTICS USED)             1
-OFF DUTY EMPLOYMENT                            1
--HARBOR - ASSIST BOATER (NON EMERG)            1
TRAF - ELUDING POLICE                           1
PROWLER                                         1
Name: final_call_type, Length: 211, dtype: int64


911                              22127
-                                13234
ONVIEW                            9364
TELEPHONE OTHER, NOT 911          3429
ALARM CALL (NOT POLICE ALARM)      361
TEXT MESSAGE                         9
SCHEDULED EVENT (RECURRING)          1
Name: call_type, dtype: int64


TRAINING - FIELD TRAINING SQUAD                        5210
WEST PCT 1ST W - DAVID/MARY                            1583
WEST PCT 2ND W - D/M RELIEF                            1041
SOUTHWEST PCT 2ND W - FRANK                            1007
WEST PCT 1ST W - KING/QUEEN                             899
                                                       ...
COMM - INTERNET AND TELEPHONE REPORTING (ITRU)            1
COMMUNITY OUTREACH - YOUTH VIOLENCE -SCHOOLS DETAIL       1
RECORDS - DAY SHIFT                                       1
ZOLD CRIME ANALYSIS UNIT - ANALYSTS                       1
TRAF - MOTORCYCLE UNIT - T2 SQUAD                         1
Name: officer_squad, Length: 173, dtype: int64


N    44692
Y     3833
Name: arrest_flag, dtype: int64


N    37056
Y    10991
-      478
Name: frisk_flag, dtype: int64


West         11913
North        10672
-             9930
East          6389
South         5816
Southwest     2320
SouthWest     1227
Unknown        200
OOJ             37
FK ERROR        21
Name: precinct, dtype: int64


-         10141
E          2337
M          2270
N          2191
K          1890
K          1762
B          1658
L          1639
D          1512
R          1455
F          1378
M          1365
S          1348
U          1302
D          1249
O          1161
J          1119
G          1087
C          1037
E           993
Q           967
W           941
Q           894
N           768
F           755
R           684
O           655
B           601
S           514
G           499
U           489
L           482
W           471
C           435
J           423
99           53
Name: sector, dtype: int64


-         10075
N3         1175
E2         1092
K3         1059
M2          852
          ...
N1           86
99           53
99           35
OOJ          25
S             2
Name: beat, Length: 107, dtype: int64

## Data Cleaning Episode 1: The NaN Menace

I begin the data cleaning process by inspecting columns and their NaN's to determine how to handle them. Some were converted to the 'None' value that was already present in the column values. Others were left in because they would not be used in dataframe used for modelling.

In [9]:
# Some Columns have an '-' so will convert to NaN
#  and then inspect for NaN Values

df.replace('-', np.nan, inplace=True)
df.isna().sum()

subject_age_group            1597
stop_resolution                 0
weapon_type                 13060
officer_id                     24
officer_yob                     0
officer_gender                  0
officer_race                    0
subject_perceived_race       1851
subject_perceived_gender      235
reported_date                   0
initial_call_type           13234
final_call_type             13234
call_type                   13234
officer_squad                 606
arrest_flag                     0
frisk_flag                    478
precinct                     9930
sector                      10141
beat                        10075
dtype: int64

In [10]:
# Subject Age Group (10 year increments) as reported by the officer.

df['subject_age_group'].value_counts(dropna=False)

26 - 35         16171
36 - 45         10345
18 - 25          9676
46 - 55          6276
56 and Above     2469
1 - 17           1991
NaN              1597
Name: subject_age_group, dtype: int64

In [11]:
# Convert NaN to 'Not Specified'
df['subject_age_group'] = df['subject_age_group'].replace(np.nan,'Not Specified')

In [12]:
# Type of weapon, if any, identified during a search or frisk of the subject. Indicates "None" if no weapons was found.

df['weapon_type'].value_counts(dropna=False)

None                                    32565
NaN                                     13060
Lethal Cutting Instrument                1482
Knife/Cutting/Stabbing Instrument         707
Handgun                                   300
Firearm Other                             100
Blunt Object/Striking Implement            93
Club, Blackjack, Brass Knuckles            49
Firearm                                    44
Mace/Pepper Spray                          31
Other Firearm                              27
Firearm (unk type)                         15
Taser/Stun Gun                             10
None/Not Applicable                         9
Club                                        9
Fire/Incendiary Device                      8
Rifle                                       7
Shotgun                                     3
Automatic Handgun                           2
Personal Weapons (hands, feet, etc.)        2
Brass Knuckles                              1
Blackjack                                   1
Name: weapon_type, dtype: int64

In [13]:
# Converting NaN's to 'None' for weapon type column
df['weapon_type'] = df['weapon_type'].replace(np.nan,'None')

# Convert 'None/Not Applicable' to 'None' for alignment
df['weapon_type'] = df['weapon_type'].replace('None/Not Applicable','None')

In [14]:
# Key identifying unique officers in the dataset.

df['officer_id'].value_counts(dropna=False)

7456      430
7634      347
7773      333
7765      315
7758      313
         ...
8543        1
5445        1
6022        1
6421        1
6363        1
Name: officer_id, Length: 1225, dtype: int64

In [15]:
# Perceived race of the subject, as reported by the officer.

df['subject_perceived_race'].value_counts(dropna=False)

White                                        23716
Black or African American                    14465
Unknown                                       2793
NaN                                           1851
Hispanic                                      1684
Asian                                         1594
American Indian or Alaska Native              1392
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       69
Name: subject_perceived_race, dtype: int64

In [16]:
# Convert NaN's to Unknown so that they are aligned

df['subject_perceived_race'] = df['subject_perceived_race'].replace(np.nan,'Unknown')

In [17]:
# Perceived gender of the subject, as reported by the officer.

df['subject_perceived_gender'].value_counts(dropna=False)

Male                                                         38119
Female                                                        9801
Unable to Determine                                            326
NaN                                                            235
Unknown                                                         37
Gender Diverse (gender non-conforming and/or transgender)        7
Name: subject_perceived_gender, dtype: int64

In [18]:
#convert NaN's and 'Unable to determine' to 'Unknown' so that they are aligned

df['subject_perceived_gender'] = df['subject_perceived_gender'].replace(np.nan,'Unknown')
df['subject_perceived_gender'] = df['subject_perceived_gender'].replace('Unable to Determine','Unknown')

In [19]:
# Initial classification of the call as assigned by 911

df['initial_call_type'].value_counts(dropna=False)

NaN                                               13234
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW         3234
SUSPICIOUS PERSON, VEHICLE OR INCIDENT             3098
DISTURBANCE, MISCELLANEOUS/OTHER                   2506
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)     2108
                                                  ...
PHONE - OBSCENE OR NUISANCE PHONE CALLS               1
ESCAPE - PRISONER                                     1
MISSING - (ALZHEIMER, ENDANGERED, ELDERLY)            1
MISSING - ADULT                                       1
REQUEST TO WATCH                                      1
Name: initial_call_type, Length: 168, dtype: int64

In [20]:
# Final classification of the call as assigned by the primary officer closing the event.

df['final_call_type'].value_counts(dropna=False)

NaN                                                13234
--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON            3920
--PROWLER - TRESPASS                                3406
--DISTURBANCE - OTHER                               2802
--ASSAULTS, OTHER                                   2386
                                                   ...
FIGHT - VERBAL/ORAL (NO WEAPONS)                       1
MVC - UNK INJURIES                                     1
NOISE - DIST, GENERAL (CONST, RESID, BALL PLAY)        1
BIAS -RACIAL, POLITICAL, SEXUAL MOTIVATION             1
WARRANT PICKUP - FROM OTHER AGENCY                     1
Name: final_call_type, Length: 211, dtype: int64

In [21]:
# How the call was received by the communication center.

df['call_type'].value_counts(dropna=False)

911                              22127
NaN                              13234
ONVIEW                            9364
TELEPHONE OTHER, NOT 911          3429
ALARM CALL (NOT POLICE ALARM)      361
TEXT MESSAGE                         9
SCHEDULED EVENT (RECURRING)          1
Name: call_type, dtype: int64

In [22]:
# Functional squad assignment (not budget) of the officer as reported by the Data Analytics Platform (DAP).

df['officer_squad'].value_counts(dropna=False)

TRAINING - FIELD TRAINING SQUAD                   5210
WEST PCT 1ST W - DAVID/MARY                       1583
WEST PCT 2ND W - D/M RELIEF                       1041
SOUTHWEST PCT 2ND W - FRANK                       1007
WEST PCT 1ST W - KING/QUEEN                        899
                                                  ...
BURG/THEFT/JUV - NORTH                               1
BURG/THEFT/JUV - WEST                                1
COMM - INTERNET AND TELEPHONE REPORTING (ITRU)       1
TRAF - MOTORCYCLE UNIT - T3 SQUAD                    1
TRAINING - ADVANCED - SQUAD C                        1
Name: officer_squad, Length: 174, dtype: int64

In [23]:
# Indicator of whether a "frisk" was conducted, by the officer, of the subject, during the Terry Stop.
df['frisk_flag'].value_counts(dropna=False)

N      37056
Y      10991
NaN      478
Name: frisk_flag, dtype: int64

In [24]:
# Dropping NaN's from frisk flag column bc it only represents .9% of the data set and convert column to object type
df = df.dropna(how='any',subset=['frisk_flag'])
df['frisk_flag'] = df['frisk_flag'].astype('object')

In [25]:
# Precinct of the address associated with the underlying Computer Aided Dispatch (CAD) event. 
# Not necessarily where the Terry Stop occurred.

df['precinct'].value_counts(dropna=False)

West         11821
North        10559
NaN           9793
East          6346
South         5754
Southwest     2293
SouthWest     1227
Unknown        196
OOJ             37
FK ERROR        21
Name: precinct, dtype: int64

In [26]:
# Sector of the address associated with the underlying Computer Aided Dispatch (CAD) event. 
# Not necessarily where the Terry Stop occurred.

df['sector'].value_counts(dropna=False)

NaN       10000
E          2313
M          2234
N          2156
K          1889
K          1734
B          1642
L          1606
D          1498
R          1438
M          1365
F          1363
S          1328
U          1285
D          1249
O          1136
J          1107
G          1077
C          1028
E           993
Q           954
W           929
Q           894
N           768
F           755
R           684
O           655
B           601
S           514
G           499
U           489
L           482
W           471
C           435
J           423
99           53
Name: sector, dtype: int64

In [27]:
# Beat of the address associated with the underlying Computer Aided Dispatch (CAD) event. 
# Not necessarily where the Terry Stop occurred.

df['beat'].value_counts(dropna=False)

NaN       9934
N3        1154
E2        1080
K3        1058
M2         842
          ...
N1          86
99          53
99          35
OOJ         25
S            2
Name: beat, Length: 107, dtype: int64

## Data Cleaning Episode 2: The Attack of the Converts

The next part of the data cleaning involves converting the values in columns, the data type of the columns, and the removal of any outliers in the data. I also add a month and year column using the reported date column. Finally, I convert the arrest flag frisk flag columns from Y:N to 1:0.

In [28]:
# Convert Officer YOB to Age

df['officer_yob'] = 2021 - df['officer_yob']

In [29]:
# rename officer_yob column to officer age

df.rename(columns={'officer_yob':'officer_age'}, inplace=True)

In [30]:
# Inspecting age outliers

df.nlargest(50,['officer_age'])

,subject_age_group,stop_resolution,weapon_type,officer_id,officer_age,officer_gender,officer_race,subject_perceived_race,subject_perceived_gender,reported_date,initial_call_type,final_call_type,call_type,officer_squad,arrest_flag,frisk_flag,precinct,sector,beat
1048,Not Specified,Field Contact,None,NaN,121,N,Unknown,Unknown,Unknown,2019-07-27T00:00:00,NaN,NaN,NaN,NaN,N,Y,West,K,K3
1049,Not Specified,Field Contact,None,NaN,121,N,Unknown,Unknown,Unknown,2019-07-27T00:00:00,NaN,NaN,NaN,NaN,N,Y,West,K,K3
1050,Not Specified,Field Contact,None,NaN,121,N,Unknown,Unknown,Unknown,2019-07-27T00:00:00,NaN,NaN,NaN,NaN,N,Y,West,K,K3
1069,Not Specified,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-09-10T00:00:00,NaN,NaN,NaN,NaN,N,N,East,E,E3
3634,18 - 25,Field Contact,None,-9,121,N,Unknown,Black or African American,Male,2015-05-19T00:00:00,NaN,NaN,NaN,NaN,N,N,NaN,NaN,NaN
7259,18 - 25,Field Contact,None,-9,121,N,Unknown,Unknown,Female,2017-06-06T00:00:00,NaN,NaN,NaN,NaN,N,N,NaN,NaN,NaN
9291,18 - 25,Arrest,None,-9,121,N,Unknown,White,Male,2018-02-07T00:00:00,NaN,NaN,NaN,NaN,N,N,West,Q,Q1
11351,18 - 25,Field Contact,None,IV70,121,M,Unknown,Unknown,Male,2019-05-30T00:00:00,NaN,NaN,NaN,NaN,N,N,East,E,E1
11912,18 - 25,Field Contact,None,NaN,121,N,Unknown,White,Female,2019-11-27T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M3
12551,18 - 25,Offense Report,None,NaN,121,N,Unknown,American Indian or Alaska Native,Female,2019-10-29T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M3
20801,26 - 35,Field Contact,None,8579,121,M,Unknown,White,Female,2018-05-21T00:00:00,NaN,NaN,NaN,TRAINING - FIELD TRAINING SQUAD,N,N,NaN,NaN,NaN
25203,26 - 35,Arrest,None,NaN,121,N,Unknown,White,Female,2019-08-15T00:00:00,NaN,NaN,NaN,NaN,Y,N,North,B,B1
25527,26 - 35,Arrest,None,NaN,121,N,Unknown,White,Male,2019-10-23T00:00:00,NaN,NaN,NaN,NaN,Y,N,West,Q,Q2
27061,26 - 35,Field Contact,None,IV70,121,M,Unknown,Unknown,Male,2019-05-20T00:00:00,NaN,NaN,NaN,NaN,N,N,West,K,K3
27548,26 - 35,Field Contact,None,IV70,121,M,Unknown,White,Male,2019-05-20T00:00:00,NaN,NaN,NaN,NaN,N,N,NaN,NaN,NaN
28277,26 - 35,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-11-02T00:00:00,NaN,NaN,NaN,NaN,N,N,West,D,D3
28299,26 - 35,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-11-10T00:00:00,NaN,NaN,NaN,NaN,N,N,West,D,D1
30769,36 - 45,Field Contact,None,-9,121,N,Unknown,White,Female,2016-01-02T00:00:00,NaN,NaN,NaN,NaN,N,N,North,N,N3
31224,36 - 45,Field Contact,None,-9,121,N,Unknown,White,Male,2016-09-14T00:00:00,NaN,NaN,NaN,NaN,N,N,NaN,NaN,NaN
36789,36 - 45,Field Contact,None,NaN,121,N,Unknown,Unknown,Female,2019-10-28T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M3
37070,36 - 45,Field Contact,None,NaN,121,N,Unknown,White,Female,2019-11-22T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M3
37113,36 - 45,Arrest,None,NaN,121,N,Unknown,Black or African American,Male,2019-06-06T00:00:00,NaN,NaN,NaN,NaN,Y,Y,South,S,S1
37142,36 - 45,Field Contact,None,NaN,121,N,Unknown,Unknown,Female,2019-07-09T00:00:00,NaN,NaN,NaN,NaN,N,N,West,Q,Q2
37157,36 - 45,Offense Report,Knife/Cutting/Stabbing Instrument,IV70,121,M,Unknown,White,Male,2019-05-14T00:00:00,NaN,NaN,NaN,NaN,N,Y,NaN,NaN,NaN
37233,36 - 45,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-07-21T00:00:00,NaN,NaN,NaN,NaN,N,N,West,Q,Q1
38594,36 - 45,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-11-22T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M3
39003,36 - 45,Field Contact,None,NaN,121,N,Unknown,Unknown,Female,2019-09-30T00:00:00,NaN,NaN,NaN,NaN,N,N,West,K,K2
39069,36 - 45,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-11-10T00:00:00,NaN,NaN,NaN,NaN,N,N,West,D,D1
39714,36 - 45,Field Contact,None,NaN,121,N,Unknown,Unknown,Male,2019-10-24T00:00:00,NaN,NaN,NaN,NaN,N,N,West,D,D1
44481,46 - 55,Field Contact,None,NaN,121,N,Unknown,Black or African American,Male,2019-07-13T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M1
44640,46 - 55,Offense Report,None,NaN,121,N,Unknown,American Indian or Alaska Native,Female,2019-10-23T00:00:00,NaN,NaN,NaN,NaN,N,N,West,Q,Q2
45213,46 - 55,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-09-22T00:00:00,NaN,NaN,NaN,NaN,N,N,East,E,E3
45771,46 - 55,Field Contact,None,NaN,121,N,Unknown,White,Male,2019-09-29T00:00:00,NaN,NaN,NaN,NaN,N,N,West,M,M3
47346,56 and Above,Offense Report,None,8579,121,M,Unknown,Hispanic,Male,2018-07-10T00:00:00,UNKNOWN - ANI/ALI - WRLS PHNS (INCL OPEN LINE),--DISTURBANCE - OTHER,"TELEPHONE OTHER, NOT 911",TRAINING - FIELD TRAINING SQUAD,N,Y,North,B,B2
48253,56 and Above,Field Contact,None,NaN,121,N,Unknown,Unknown,Male,2019-09-22T00:00:00,NaN,NaN,NaN,NaN,N,N,East,E,E3
3932,18 - 25,Field Contact,None,4272,75,M,Asian,White,Male,2015-09-10T00:00:00,NaN,NaN,NaN,EAST PCT OPS - CPT,N,N,West,K,K1
5391,18 - 25,Field Contact,None,4272,75,M,Asian,Black or African American,Male,2016-02-22T00:00:00,NaN,NaN,NaN,EAST PCT OPS - CPT,N,N,West,K,K3
182,Not Specified,Offense Report,None,3170,73,M,White,Multi-Racial,Unknown,2015-07-14T00:00:00,NUISANCE - MISCHIEF,NUISANCE - MISCHIEF,ONVIEW,NORTH PCT 1ST W - BOY (JOHN),N,N,North,J,J3
4602,18 - 25,Citation / Infraction,None,3170,73,M,White,White,Male,2015-07-20T00:00:00,PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS),--MISC MISD AND VIOLS - PARKS EXCLUSION,911,NORTH PCT 1ST W - BOY (JOHN),N,N,NaN,NaN,NaN
4603,18 - 25,Citation / Infraction,None,3170,73,M,White,White,Female,2015-07-20T00:00:00,PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS),--MISC MISD AND VIOLS - PARKS EXCLUSION,911,NORTH PCT 1ST W - BOY (JOHN),N,N,NaN,NaN,NaN
4604,18 - 25,Citation / Infraction,None,3170,73,M,White,White,Male,2015-07-20T00:00:00,PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS),--MISC MISD AND VIOLS - PARKS EXCLUSION,911,NORTH PCT 1ST W - BOY (JOHN),N,N,NaN,NaN,NaN
4834,18 - 25,Offense Report,None,3170,73,M,White,Black or African American,Female,2015-09-06T00:00:00,NaN,NaN,NaN,NORTH PCT 1ST W - BOY (JOHN),N,N,North,N,N3
14331,26 - 35,Offense Report,None,3170,73,M,White,Hispanic,Male,2015-06-12T00:00:00,THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS),"SUSPICIOUS PERSON, VEHICLE OR INCIDENT","TELEPHONE OTHER, NOT 911",NORTH PCT 1ST W - BOY (JOHN),N,Y,North,J,J3
30286,36 - 45,Offense Report,None,3170,73,M,White,White,Male,2015-08-12T00:00:00,NaN,NaN,NaN,NORTH PCT 1ST W - BOY (JOHN),N,N,North,U,U2
30287,36 - 45,Offense Report,None,3170,73,M,White,White,Male,2015-08-11T00:00:00,NaN,NaN,NaN,NORTH PCT 1ST W - BOY (JOHN),N,N,North,U,U2
40407,46 - 55,Citation / Infraction,None,3170,73,M,White,White,Female,2015-07-20T00:00:00,PARKS VIOLATIONS/CITES (INCLUDES EXCLUSIONS),--MISC MISD AND VIOLS - PARKS EXCLUSION,911,NORTH PCT 1ST W - BOY (JOHN),N,N,NaN,NaN,NaN
40471,46 - 55,Offense Report,None,3170,73,M,White,White,Male,2015-08-12T00:00:00,THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING),"--ASSAULTS - HARASSMENT, THREATS",911,NORTH PCT 1ST W - BOY (JOHN),N,N,North,B,B3
46320,56 and Above,Offense Report,None,3170,73,M,White,Asian,Male,2015-08-13T00:00:00,"DISTURBANCE, MISCELLANEOUS/OTHER","DISTURBANCE, MISCELLANEOUS/OTHER",ONVIEW,NORTH PCT 1ST W - BOY (JOHN),N,N,North,B,B1
4638,18 - 25,Offense Report,None,2768,72,M,White,Black or African American,Male,2015-07-29T00:00:00,"NOISE - DISTURBANCE (PARTY, ETC)",--DISTURBANCE - NOISE,911,SOUTHWEST PCT 3RD W - FRANK,N,N,Southwest,F,F1
7672,18 - 25,Field Contact,None,6752,72,M,White,Black or African American,Unknown,2017-02-04T00:00:00,ASLT - IP/JO - PERSON SHOT OR SHOT AT,"--ASSAULTS, OTHER",911,SOUTH PCT 3RD W - OCEAN,N,N,South,O,O3

In [31]:
# dropping rows where officer age is 121 bc there is insufficient data in those rows 

df.drop((df[df['officer_age'] == 121]).index, inplace = True)

In [32]:
# Convert reported_date column to datetime type

df['reported_date'] = pd.to_datetime(df['reported_date'], yearfirst=True)

In [33]:
# add columns for year and month from 'reported_date' column
df['year'] = df['reported_date'].dt.year
df['month'] = df['reported_date'].dt.month
df['year'] = df['year'].astype('object')
df['month'] = df['month'].astype('object')

In [34]:
# Convert Arrest and Frisk columns to 1's and 0's
df['arrest_flag'] = df['arrest_flag'].replace({'Y':1, 'N':0})
df['frisk_flag'] = df['frisk_flag'].replace({'Y':1, 'N':0})

## Data Cleaning Episode 3: The Revenge of the CSV

The final part of the data cleaning process is to inspect the arrest flag column which will be our target and the the final dataframe which will be saved as a csv.

In [35]:
# inspecting value counts for arrest flag column
df['arrest_flag'].value_counts(dropna=False)

0    44182
1     3830
Name: arrest_flag, dtype: int64

In [36]:
# Final Inspection of Dataframe
df.shape

(48012, 21)

In [37]:
df.head()

,subject_age_group,stop_resolution,weapon_type,officer_id,officer_age,officer_gender,officer_race,subject_perceived_race,subject_perceived_gender,reported_date,initial_call_type,final_call_type,call_type,officer_squad,arrest_flag,frisk_flag,precinct,sector,beat,year,month
0,Not Specified,Arrest,None,7500,37,M,Black or African American,Asian,Male,2015-10-16,NaN,NaN,NaN,SOUTH PCT 1ST W - ROBERT,0,0,South,O,O2,2015,10
1,Not Specified,Field Contact,None,5670,56,M,White,Unknown,Unknown,2015-03-19,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,2015,3
3,Not Specified,Field Contact,None,7539,58,M,White,Unknown,Unknown,2015-04-01,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,2015,4
4,Not Specified,Field Contact,None,6973,44,M,White,Black or African American,Male,2015-04-03,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,2015,4
5,Not Specified,Field Contact,None,7402,48,M,White,Black or African American,Male,2015-04-05,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,2015,4

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48012 entries, 0 to 48524
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   subject_age_group         48012 non-null  object
 1   stop_resolution           48012 non-null  object
 2   weapon_type               48012 non-null  object
 3   officer_id                48012 non-null  object
 4   officer_age               48012 non-null  int64
 5   officer_gender            48012 non-null  object
 6   officer_race              48012 non-null  object
 7   subject_perceived_race    48012 non-null  object
 8   subject_perceived_gender  48012 non-null  object
 9   reported_date             48012 non-null  datetime64[ns]
 10  initial_call_type         35004 non-null  object
 11  final_call_type           35004 non-null  object
 12  call_type                 35004 non-null  object
 13  officer_squad             47452 non-null  object
 14  arrest_flag               48012 non-null  int64
 15  frisk_flag                48012 non-null  int64
 16  precinct                  38225 non-null  object
 17  sector                    38018 non-null  object
 18  beat                      38084 non-null  object
 19  year                      48012 non-null  object
 20  month                     48012 non-null  object
dtypes: datetime64[ns](1), int64(3), object(17)
memory usage: 8.1+ MB

In [39]:
# save cleaned dataframe as a csv
df.to_csv('Terry_stops_cleaned.csv', index=False)