In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import matplotlib.dates as mdates
import matplotlib.cbook as cbook

In [2]:
df = pd.read_csv('Terry_stops_cleaned.csv')
df.head()

,subject_age_group,stop_resolution,weapon_type,officer_id,officer_age,officer_gender,officer_race,subject_perceived_race,subject_perceived_gender,reported_date,...,final_call_type,call_type,officer_squad,arrest_flag,frisk_flag,precinct,sector,beat,year,month
0,Not Specified,Arrest,None,7500,37,M,Black or African American,Asian,Male,2015-10-16,...,NaN,NaN,SOUTH PCT 1ST W - ROBERT,0,0.0,South,O,O2,2015,10
1,Not Specified,Field Contact,None,5670,56,M,White,Unknown,Unknown,2015-03-19,...,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,2015,3
2,Not Specified,Field Contact,None,7539,58,M,White,Unknown,Unknown,2015-04-01,...,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,2015,4
3,Not Specified,Field Contact,None,6973,44,M,White,Black or African American,Male,2015-04-03,...,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,2015,4
4,Not Specified,Field Contact,None,7402,48,M,White,Black or African American,Male,2015-04-05,...,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,2015,4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47972 entries, 0 to 47971
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   subject_age_group         47972 non-null  object
 1   stop_resolution           47972 non-null  object
 2   weapon_type               47972 non-null  object
 3   officer_id                47972 non-null  int64
 4   officer_age               47972 non-null  int64
 5   officer_gender            47972 non-null  object
 6   officer_race              47972 non-null  object
 7   subject_perceived_race    47972 non-null  object
 8   subject_perceived_gender  47972 non-null  object
 9   reported_date             47972 non-null  object
 10  initial_call_type         34964 non-null  object
 11  final_call_type           34964 non-null  object
 12  call_type                 34964 non-null  object
 13  officer_squad             47412 non-null  object
 14  arrest_flag               47972 non-null  int64
 15  frisk_flag                47972 non-null  float64
 16  precinct                  38187 non-null  object
 17  sector                    37980 non-null  object
 18  beat                      38046 non-null  object
 19  year                      47972 non-null  int64
 20  month                     47972 non-null  int64
dtypes: float64(1), int64(5), object(15)
memory usage: 7.7+ MB

In [4]:
# convert reported date column to datetime
# df['reported_date'] = df['reported_date'].astype('datetime64[ns]')

In [12]:
df['subject_perceived_race'].unique()

array(['Asian', 'Unknown', 'Black or African American', 'Other', 'White',
       'American Indian or Alaska Native', 'Hispanic', 'Multi-Racial',
       'Native Hawaiian or Other Pacific Islander'], dtype=object)

In [11]:
rslt_df['subject_perceived_race'].unique()

array(['Black or African American', 'White', 'Unknown',
       'American Indian or Alaska Native',
       'Native Hawaiian or Other Pacific Islander', 'Asian'], dtype=object)

In [9]:
# looked at percentages of arrests by race
arrest_race = df[['subject_perceived_race', 'arrest_flag']].copy()
rslt_df = arrest_race[arrest_race['arrest_flag'] == 1] 
rslt_df['subject_perceived_race'].value_counts(normalize=True)

White                                        0.485998
Black or African American                    0.336561
Unknown                                      0.100759
Asian                                        0.043182
American Indian or Alaska Native             0.028527
Native Hawaiian or Other Pacific Islander    0.004973
Name: subject_perceived_race, dtype: float64

In [6]:
# keep the races with great than 1% 
race_category = ['White',
  'Black or African American',
  'Hispanic',
  'Asian',
  'American Indian or Alaska Native',
  'Multi-Racial']

terry_stop_percent = [0.486, 0.336, 0.034, 0.032, 0.028, 0.016]

census_percent = [0.645, 0.068, 0.066, 0.149, 0.005, 0.06]