In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Terry_stops_cleaned.csv')

df.head()

,subject_age_group,stop_resolution,weapon_type,officer_id,officer_age,officer_gender,officer_race,subject_perceived_race,subject_perceived_gender,reported_date,initial_call_type,final_call_type,call_type,officer_squad,arrest_flag,frisk_flag,precinct,sector,beat
0,NaN,Arrest,None,7500,37,M,Black or African American,Asian,Male,2015-10-16,NaN,NaN,NaN,SOUTH PCT 1ST W - ROBERT,0,0.0,South,O,O2
1,NaN,Field Contact,None,5670,56,M,White,Unknown,Unknown,2015-03-19,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN
2,NaN,Field Contact,None,4844,60,M,White,White,Male,2015-03-21,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,NaN,Field Contact,None,7539,58,M,White,Unknown,Unknown,2015-04-01,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN
4,NaN,Field Contact,None,6973,44,M,White,Black or African American,Male,2015-04-03,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN

# Baseline Model - Logistic Regression

In [3]:
df.columns

Index(['subject_age_group', 'stop_resolution', 'weapon_type', 'officer_id',
       'officer_age', 'officer_gender', 'officer_race',
       'subject_perceived_race', 'subject_perceived_gender', 'reported_date',
       'initial_call_type', 'final_call_type', 'call_type', 'officer_squad',
       'arrest_flag', 'frisk_flag', 'precinct', 'sector', 'beat'],
      dtype='object')

In [4]:
# Separate continuous and categorical columns for pre-processing

cat_columns = ['subject_age_group', 'stop_resolution', 'weapon_type', 'officer_id', 
         'officer_gender', 'officer_race', 'subject_perceived_race', 'subject_perceived_race', 
         'subject_perceived_gender', 'initial_call_type', 'final_call_type', 'call_type', 
        'officer_squad', 'frisk_flag', 'precinct', 'sector', 'beat']

cont_columns = ['officer_age', 'reported_date']

In [5]:
# dummied categorical columns
cat_columns_dummied = pd.get_dummies(df[cat_columns], drop_first=True,dtype=float)

In [6]:
df_preprocessed = pd.concat([cat_columns_dummied, df[cont_columns]], axis=1)

In [11]:
# Create X and y variables
X = df['arrest_flag']
y = df.drop(columns='arrest_flag', index=1).copy()

X.shape, y.shape

((48485,), (48484, 18))

In [8]:
# Creating Train Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [48485, 48484]

In [ ]:
#Instatiate Logistic Regression Model
logreg = LogisticRegression()

logreg.fit()

In [ ]:
#fit and transform

In [ ]:
# scores